---

on:
  workflow_dispatch:
  push:
    branches:
      - "**"
      - '!master'

jobs:
  test-build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Install Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: "lts/*"
      - name: "Setup Docker Compose"
        uses: "docker/setup-compose-action@v1.2.0"
        with:
          version: latest
      - name: Get docker compose version
        run: docker compose version
      - name: Build docker compose stack
        run: docker compose -f ${{ github.workspace }}/docker/docker-compose.yaml build
      - name: Build vscodium extension
        run: docker compose -f ${{ github.workspace }}/docker/docker-compose.yaml run --build -it node vsce package --out dist/
