---

on:
  workflow_dispatch:
  push:
    branches:
      - "**"
      - '!master'

jobs:
  test-build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Install Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: "lts/*"
      - name: "Setup Docker Compose"
        uses: "docker/setup-compose-action@v1.2.0"
        with:
          version: latest
      - run: docker compose version
